version: 2.1
anchors:
  defaults: &defaults
    docker:
      - image: circleci/node:11-browsers
    working_directory: ~/repo
  restore_cache: &restore_cache
    restore_cache:
      keys:
        - v1-dependencies-{{ checksum "package.json" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-
  save_cache: &save_cache
    save_cache:
      paths:
        - node_modules
      key: v1-dependencies-{{ checksum "package.json" }}
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - *restore_cache
      - run: yarn install
      - *save_cache
      - run: yarn build
  lint:
    <<: *defaults
    steps:
      - checkout
      - *restore_cache
      - run: yarn install
      - *save_cache
      - run: yarn lint:check
  unit-test:
    <<: *defaults
    steps:
      - checkout
      - *restore_cache
      - run: yarn install
      - *save_cache
      - run: yarn unit-test
  screenshot-test-local-puppeteer:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Set up Git LFS
          command: |
            sudo apt-get install -y git-lfs
            git lfs install
            git lfs pull
      - *restore_cache
      - run: yarn install
      - *save_cache
      - run: |
          # We don't set SCREENSHOT_MODE because it's the default.
          # export SCREENSHOT_MODE=puppeteer
          export SCREENSHOT_PREFIX=puppeteer/
          yarn screenshot-test-local
      - store_artifacts:
          path: src/tests/__screenshots__
          destination: screenshots
  screenshot-test-percy:
    <<: *defaults
    steps:
      - checkout
      - *restore_cache
      - run: yarn install
      - *save_cache
      - run: yarn screenshot-test-percy
  docker-image:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run: docker build .
  example-local:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Set up Git LFS
          command: |
            sudo apt-get install -y git-lfs
            git lfs install
            git lfs pull
      - run: cd example && yarn install
      - run: cd example && yarn screenshot-test-local
      - store_artifacts:
          path: example/__screenshots__
          destination: example-screenshots
  example-percy:
    <<: *defaults
    steps:
      - checkout
      - run: cd example && yarn install
      - run: cd example && PERCY_TOKEN=$PERCY_TOKEN_EXAMPLE yarn screenshot-test-percy
workflows:
  check:
    jobs:
      - build
      - lint
      - unit-test
      - screenshot-test-local-puppeteer
      - screenshot-test-percy
      - docker-image
      - example-local
      - example-percy
